.reviews-main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.reviews-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#listOfReviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.card-container {
  width: 100vw;
}

.reviews-card {
  border: 1px solid #08FF08;
  font-size: 2rem;
  
  width: 30%;
  align-items: center;
  list-style-type: none;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;

  p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
}