*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}


/* ------------------ */


*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --totalNumberOfQuestions : 4;
    --Diameter : 80px;
    --widthOfRow : 100%
    
}

form {
  margin-top: calc( var(--Diameter) / 2 + 20px);
  margin-bottom: calc( var(--Diameter) / 2 + 20px);

}

.row {
    width: var(--widthOfRow);
    display: flex;
    flex-direction: row;
    margin-left: calc( ( 100% - var(--widthOfRow)) / 2 );
}

.col{
    width: calc(( 100% - var(--Diameter) ) / ( var(--totalNumberOfQuestions) - 1 ));
    /* width: calc(( 100% - 58% ) / ( var(--totalNumberOfQuestions) - 1 ) ); */
    /* width:  calc((100% -  var(--Diameter) ) / ( var(--totalNumberOfQuestions) - 1 )); */

}
.col:last-child {
        width: var(--Diameter);
}

.bolt {
    position: relative;
    padding-top: var(--Diameter);
    /* background-color: darkred; */
}

.number{
    width:  var(--Diameter);
    height:   var(--Diameter);
    background-color:rgb(199, 199, 199);
    border-radius: 50%;
    line-height:  var(--Diameter);
    text-align: center;
    font-size: 1.5rem;
    position: absolute;
    top : 0px;
    left: 0px;
    color: rgb(91, 90, 90);
    /* opacity: 0.7; */
    /* transform: scale(1.5 , 1.5); */
}

.dash {
    position: absolute ;
    height: 2px;
    width: 100%;
    width:calc(100% - var(--Diameter)) ;
    /* top: 39px; */
    left: var(--Diameter);
    top: calc( var(--Diameter) / 2 );
    border-top: 2px dashed rgb(199, 199, 199);
}

