@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
.choice-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgba(8, 255, 8, 0.25);
  border-radius: 2rem;
}

.choice-container:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0.2rem 1rem 0 rgba(8, 255, 8, 0.5);
          box-shadow: 0 0.2rem 1rem 0 rgba(8, 255, 8, 0.5);
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #333;
  color: white;
  border: 0.1rem solid rgba(8, 255, 8, 0.25);
  color: #08FF08;
  border-radius: 2rem 0 0 2rem;
}

#game {
  background: black;
  border-style: solid;
  padding: 50px;
  border-radius: 10px;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
  text-align: center;
}

.correct {
  background-color: #639c71;
}

.incorrect {
  background-color: #c96872;
}

/* HUD */
#hud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #08FF08;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #08FF08;
  width: 0%;
}

/* LOADER */
#loader {
  border: 1.6rem solid #333;
  border-radius: 50%;
  border-top: 1.6rem solid #08FF08;
  width: 12rem;
  height: 12rem;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

.high-score:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.reviews-main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../assets/Background_Stars.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#review {
  width: 100%;
  height: 100%;
  text-align: center;
}

.reviews-top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40vh;
}

#listOfReviews {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card-container {
  width: 100vw;
}

.reviews-card {
  border: 1px solid #08FF08;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  text-align: center;
  list-style-type: none;
  padding: 1rem;
  margin: 1rem;
  height: 20rem;
  border-radius: 1rem;
  background: linear-gradient(61deg, black 0%, #030324 100%);
}

.reviews-card p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
  font-size: 62.5%;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'VT323', monospace;
  margin: 0;
  padding: 0;
  color: #08FF08;
}

body {
  background: url("../assets/Background_Stars.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  margin-bottom: 5rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

/* UTILITIES */
.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

#end {
  border-style: solid;
  border-radius: 25px;
  background-color: black;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* BUTTONS */
.btn {
  font-size: 1.7rem;
  padding: 1rem 0;
  margin: 2rem;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #08FF08;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  text-decoration: none;
  background-color: #28313b;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0.7rem 1.4rem 0 rgba(8, 255, 8, 0.5);
          box-shadow: 0 0.7rem 1.4rem 0 rgba(8, 255, 8, 0.5);
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
  background-color: #485461;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
          transform: none;
}

/* FORMS */
form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input {
  margin-bottom: 4rem;
  width: 25rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  background-color: #28313b;
  border-radius: 1rem;
  border: 0.2rem solid #08FF08;
  -webkit-box-shadow: 0 0.7rem 1.4rem 0 rgba(8, 255, 8, 0.5);
          box-shadow: 0 0.7rem 1.4rem 0 rgba(8, 255, 8, 0.5);
}

input::-webkit-input-placeholder {
  color: #08FF08;
}

input:-ms-input-placeholder {
  color: #08FF08;
}

input::-ms-input-placeholder {
  color: #08FF08;
}

input::placeholder {
  color: #08FF08;
}

#box__planet {
  width: 1000px;
  height: 1000px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  background: #e0e0e0;
  -webkit-box-shadow: -5px -5px 100px #5a5a5a, 5px 5px 50px #ffffff;
          box-shadow: -5px -5px 100px #5a5a5a, 5px 5px 50px #ffffff;
}

#shadow_planet {
  width: 1000px;
  height: 1000px;
  margin-top: -1000px;
  position: relative;
  border-radius: 50%;
  -webkit-box-shadow: inset 1px 0px 100px 50px #000;
          box-shadow: inset 1px 0px 100px 50px #000;
  overflow: hidden;
}

#box__planet img {
  margin-top: 0;
  padding-top: 0;
  height: 99.5%;
  -webkit-animation: spin 30s linear infinite;
          animation: spin 30s linear infinite;
}

@keyframes spin {
  0% {
    margin-left: -800px;
  }
  100% {
    margin-left: 0px;
  }
}

.questions__container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 70rem;
  background-color: white;
  border-radius: 20px;
  background: black;
  border-style: solid;
  -webkit-box-shadow: -5px -5px 50px black, 5px 5px 50px black;
          box-shadow: -5px -5px 50px black, 5px 5px 50px black;
}

.questions__container .globe__quiz__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  padding-top: 10px;
  padding-bottom: 12px;
  -webkit-filter: drop-shadow(0 10px 10px black);
          filter: drop-shadow(0 10px 10px black);
}

.questions__container .title__questions1 {
  text-align: center;
  font-size: 6rem;
  font-weight: 900;
  text-shadow: 2px 2px 2px #969696;
}

.questions__container .title__questions {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 2px 2px 2px #969696;
  padding-bottom: 10px;
}

.questions__container #input {
  text-align: center;
  width: 25rem;
  height: 2.5rem;
  border-radius: 25px;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  color: #5a5a5a;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.questions__container #input:hover {
  -webkit-box-shadow: 1px 1px 5px #3829e0, 0px 0px 5px #3829e0;
          box-shadow: 1px 1px 5px #3829e0, 0px 0px 5px #3829e0;
}

.questions__container form button {
  background-color: #3829e0;
  width: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  height: 3rem;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-weight: 800;
  font-family: 'Red Hat Display', sans-serif;
  margin-top: 50px;
  -webkit-box-shadow: 1px 1px 5px #3829e0, 0px 0px 5px #3829e0;
          box-shadow: 1px 1px 5px #3829e0, 0px 0px 5px #3829e0;
}
/*# sourceMappingURL=styles.css.map */